* {
  font-family: "Inter", sans-serif;
}

hr {
  display: none;
}

#big-nav {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.d-center {
  align-items: center;
  justify-content: center;
}

.t-center {
  text-align: center;
}

body {
  margin: 0.5rem 0;
}

header {
  background: url("/img/header-illsutration-mobile.png") center center no-repeat;
  background-size: cover;
  height: 900px;
}

nav {
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1.5rem;
  margin-top: 0;
  background-color: #fff;
}

#welcome-link {
  text-decoration: none;
}

#welcome-section {
  align-items: center;
  justify-content: center;
}

#welcome-text {
  color: #28352f;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 24px;
}

#toggle-menu {
  background-color: #fff;
  border: none;
  box-sizing: border-box;
}

main {
  background: #fff;
  margin-top: -2.5rem;
}

#header-welcome {
  padding: 0 1.5rem;
  height: 700px;
}

hgroup {
  font-size: 1.3rem;
}

h1 {
  margin-top: 0;
  color: #172b4d;
  font-weight: 700;
}

#greentext {
  color: #36b37e;
}

#more-text {
  font-size: 1.2rem;
  line-height: 28px;
  color: #172b4d;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  font-weight: 400;
}

#more-text p {
  margin: 0;
}

.icons {
  display: block;
  height: 20px;
  width: 20px;
}

.icon1 {
  background: url("img/twitter.png") no-repeat;
}

.icon2 {
  background: url("img/Linkedin\ icon.png") no-repeat;
}

.icon3 {
  background: url("img/medium.png") 70% no-repeat;
}

.icon4 {
  background: url("img/github.png") no-repeat;
}

.icon5 {
  background: url("img/angellist.png") no-repeat;
}

.social-icons {
  margin-top: 1.9rem;
}

.social-icons ul {
  padding: 0 2.2rem;
  justify-content: space-around;
  flex: 1;
}

.d-flex li {
  list-style: none;
  margin: 0 0.5rem 0.8rem;
}

#toggle-down {
  display: block;
  height: 45px;
  width: 45px;
}

#down-toggle {
  margin-top: 2.4rem;
  background: url("img/Disabled.png") no-repeat;
}

.section-header {
  font-size: 2.6rem;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
}

#green-line {
  background-color: #36b37e;
  width: 48px;
  height: 4px;
  border-radius: 24px;
  margin-top: 1.25rem;
  margin-bottom: 2.7rem;
}

#card-grid {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
}

.card-photo {
  width: 327px;
  height: 222px;
  min-width: 100%;
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-desc {
  background: #fff;
  border-radius: 8px;
  width: 100%;
}

.card-header {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 32px;
  color: #3a4a42;
}

.card-header h3 {
  margin: 0.8rem 0;
}

.card-lang {
  margin-left: 0.4rem;
}

.card-list {
  margin: 0;
  padding: 0;
}

.card-list-element {
  list-style: none;
  background: #ebf0ee;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  padding: 0.5rem 0.7rem;
  font-size: 0.65rem;
  font-weight: 600;
  margin: 0 0.3rem;
  color: #3a4a42;
}

.card-button {
  background: #36b37f;
  border-radius: 4px;
  border: none;
  padding: 0.7rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
}

#about-me {
  margin-top: 2rem;
}

#about-me h2 {
  margin-top: 2rem;
}

#about-me p {
  padding: 1.1rem;
  font-size: 1.05rem;
  line-height: 32px;
  font-weight: 400;
  color: #42526e;
  margin: 0.3rem 0;
}

.btn-resume {
  margin-top: -0.2rem;
}

.g-btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.g-btn:active {
  background-color: #008552;
}

#feature {
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
}

.lang-card {
  background-color: #ebf0ee;
  border: 1px solid #c1c8d0;
  border-radius: 8px;
  width: 327px;
  height: 352px;
}

.feature-icon {
  display: block;
  width: 80px;
  height: 80px;
}

#lang-card-icon {
  background: url("img/icon-languages.png") no-repeat;
  background-size: contain;
}

#frameworks-card-icon {
  background: url("img/icon-frameworks.svg") no-repeat;
  background-size: contain;
}

#skills-card-icon {
  background: url("img/icon-skills.svg") no-repeat;
  background-size: contain;
}

.lang-card-specs > ul {
  padding: 0.7rem;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.lang-card-specs li {
  background-color: #fff;
  border-radius: 8px;
  color: #36b37e;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.8rem;
  margin: 0.3rem;
}

.o-1 {
  order: 1;
}

.o-0 {
  order: 0;
}

.o-2 {
  order: 2;
}

.o-3 {
  order: 3;
}

.about-me-intro {
  font-size: 2.5rem;
  padding: 1rem;
  color: #172b4d;
  font-weight: 700;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5%;
}

.form-input {
  height: 48px;
  border: 1px solid #d0d9d4;
  margin-bottom: 20px;
  padding: 0 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form-textarea {
  border: 1px solid #60c095;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px;
}

.btn-gettouch {
  width: 129px;
  margin: 0 auto;
}

.feature-header {
  color: #344563;
  font-weight: 600;
  font-size: 1.6rem;
}

#footer-email {
  color: #42526e;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-top: -1rem;
}

.footer-icons {
  margin-top: 2.5rem;
}

footer {
  align-self: center;
  justify-content: center;
  background: url("img/Frame.png") bottom 50px right no-repeat;
  background-size: 15%;
}

@media (min-width: 600px) {
  header {
    background: url("img/header-illsutration-mobile.png") center center no-repeat;
    background-size: cover;
  }

  #header-welcome {
    background: none;
  }

  .footer-icons ul {
    justify-content: center;
  }

  footer {
    background-size: 10%;
  }
}

@media (min-width: 768px) {
  header {
    background: url("img/header-illsutration-mobile.png") center center no-repeat;
    background-size: cover;
    height: 1150px;
  }

  #header-welcome {
    margin-top: 10rem;
  }

  #more-text {
    margin-top: 5rem;
  }

  #header-welcome .social-icons {
    margin-top: 7rem;
  }
}

@media (min-width: 992px) {
  #more-text {
    width: 60%;
  }

  body {
    margin: 0;
    width: 100vw;
  }

  #welcome-text {
    display: none;
  }

  #toggle-menu {
    display: none;
  }

  #header-welcome {
    background: none;
  }

  header {
    margin: 0;
    background: url("img/Big-main.png") center center no-repeat;
    background-size: cover;
    height: 1140px;
    align-items: center;
  }

  #big-nav {
    display: flex;
    padding-left: 0;
  }

  #big-nav li {
    color: #172b4d;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem;
  }

  .bnn {
    display: none;
  }

  #welcome-section {
    justify-content: initial;
    align-items: initial;
    margin-top: 12rem;
  }

  #card-grid {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-template-rows: repeat(2, minmax(439px, 2fr));
    grid-gap: 2rem 1.25rem;
    margin: 1rem 7rem;
  }

  #about-me {
    background: url("img/big-about-me-1.png") top 90px left no-repeat, url("img/big-about-me-2.png") bottom 10px right no-repeat;
    background-size: 15%, contain;
  }

  #about-me p {
    font-size: 1.22rem;
    width: 60%;
  }

  #feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lang-card {
    width: 369px;
    height: 352px;
    position: relative;
  }

  .feature-icon {
    position: absolute;
    bottom: 240px;
  }

  .feature-header {
    position: absolute;
  }

  .lang-card-specs ul {
    position: relative;
    top: 63px;
  }

  .lang-card-2-specs ul {
    top: 86px;
  }

  footer section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8.5rem;
    text-align: initial;
    background: url("img/footer-left.png") left bottom 75px no-repeat, url("img/illustration-2-contact-form-desktop@2x.png") left 275px bottom 130px no-repeat, url("img/Frame@2x.png") bottom right no-repeat;
    background-size: 150px auto, 100px, 150px;
  }

  footer section:nth-child(1) h4 {
    flex: 1.5;
    padding: 2rem 0;
    font-size: 1.6rem;
    line-height: 52px;
    margin: 1rem;
  }

  footer section:nth-child(1) form {
    flex: 2;
  }

  #footer-email {
    display: none;
  }

  hr {
    display: block;
    width: 100vw;
    border: 1px solid #dfe1e6;
  }

  footer {
    background: none;
  }

  footer section:nth-child(2) ul {
    justify-content: center;
  }

  .btn-gettouch {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  #card-grid {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-template-rows: repeat(2, minmax(439px, 2fr));
    grid-gap: 2rem 1.25rem;
    margin: 1rem 7rem;
  }

  #feature {
    display: flex;
  }
}

/* 1736 */
